:root {
  /* Color */
  --color-red: #c73b0f;
  --color-green: #1ea575;
  --color-black: #000;
  --color-white: #fff;
  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;

  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1100: 5.5rem;

  /* Font Size */
  --font-size-txt-1: 2.5rem;
  --font-size-txt-2: 1.5rem;
  --font-size-txt-3: 1rem;
  --font-size-txt-4: 0.875rem;

  /* Line Hieght */
  --line-height-txt-1: 1.2;
  --line-height-txt-2: 1.25;
  --line-height-txt-3: 1.5;
  --line-height-txt-4: 1.5;

  /* Font Weight */
  --font-weight-txt-1: 700;
  --font-weight-txt-2: 700;
  --font-weight-txt-3: 600;
  --font-weight-txt-4: 400;
}

:is(.txt-1, .txt-2, .txt-3, .txt-4) {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.txt-1 {
  font-size: var(--font-size-txt-1);
  font-weight: var(--font-weight-txt-1);
  line-height: var(--line-height-txt-1);
}

.txt-2 {
  font-size: var(--font-size-txt-2);
  font-weight: var(--font-weight-txt-2);
  line-height: var(--line-height-txt-2);
}

.txt-3 {
  font-size: var(--font-size-txt-3);
  font-weight: var(--font-weight-txt-3);
  line-height: var(--line-height-txt-3);
}

.txt-4 {
  font-size: var(--font-size-txt-4);
  font-weight: var(--font-weight-txt-4);
  line-height: var(--line-height-txt-4);
}

.txt-semi-bold {
  font-weight: 600;
}

body {
  padding-block-start: var(--spacing-200);
  background-color: var(--color-rose-50);
}

main,
header {
  max-inline-size: 32rem;
  margin-inline: auto;
  padding-inline: var(--spacing-300);
}

header {
  position: sticky;
  top: 0;
  background-color: var(--color-rose-50);
  z-index: 2;
  padding-block: var(--spacing-100);
}

main {
  padding-block: var(--spacing-300);
}

img {
  inline-size: 100%;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-cart {
  appearance: none;
  background-color: var(--color-white);
  color: var(--color-rose-900);
  padding: var(--spacing-50) 0.625rem;
  border: 0.0625rem solid var(--color-red);
  border-radius: 0.625rem;
  cursor: pointer;
}

.cart {
  max-height: 45vh;
  overflow-y: scroll;
  padding: var(--spacing-300);
  background-color: var(--color-white);
  border-radius: 0.75rem;
  margin-block-start: var(--spacing-200);
  display: none;
}

.empty-placeholder {
  padding-block: var(--spacing-200);
  color: var(--color-rose-500);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

.empty-placeholder > img {
  inline-size: 8rem;
  block-size: 8rem;
}

h1 {
  color: var(--color-rose-900);
}

.cart > h2 {
  color: var(--color-red);
  margin-block-end: var(--spacing-300);
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.added-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.added-item__name {
  color: var(--color-rose-900);
  margin-block-end: var(--spacing-100);
}

.added-item__count {
  color: var(--color-red);
  display: inline-block;
  min-inline-size: 1.3125rem;
}

.added-item__single-price {
  margin-inline: var(--spacing-100);
  color: var(--color-rose-500);
}

.added-item__total-price {
  color: var(--color-rose-500);
}

.btn-cart-remove-item {
  inline-size: 1.25rem;
  block-size: 1.25rem;
  cursor: pointer;
}

.order-total {
  color: var(--color-rose-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carbon-info {
  padding-block: var(--spacing-200);
  background-color: var(--color-rose-50);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-100);
}

.carbon-info > img {
  inline-size: 1.25rem;
  block-size: 1.25rem;
}

.confirm-order {
  inline-size: 100%;
  appearance: none;
  padding-block: var(--spacing-200);
  border: none;
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: 62.4375rem;
  cursor: pointer;
}

hr {
  background-color: var(--color-rose-100);
  border: none;
  block-size: 0.0625rem;
}

.confirm-modal {
  border: none;
  border-start-start-radius: 1.5rem;
  border-start-end-radius: 1.5rem;
  min-inline-size: min(100vw, 37.5rem);
  background-color: var(--color-white);
  padding: var(--spacing-300);
  z-index: 3;
  position: fixed;
  inset: unset;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-info > img {
  inline-size: 3rem;
  block-size: 3rem;
}

.modal-info > h2 {
  margin-block: var(--spacing-300) var(--spacing-100);
  color: var(--color-rose-900);
}

.modal-info > p {
  color: var(--color-rose-500);
  font-family: "Red Hat Text", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.modal-content {
  margin-block: var(--spacing-400);
  padding: var(--spacing-300);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.modal-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.confirmed-item {
  display: flex;
  align-items: center;
}

.confirmed-item > img {
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 0.25rem;
  margin-inline-end: var(--spacing-200);
}

.confirmed-item__total-price {
  color: var(--color-rose-900);
  margin-inline-start: auto;
}

.desserts-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-300);
}

.dessert__img {
  margin-block-end: 2.375rem;
  position: relative;
}

.dessert__img > picture img {
  border-radius: 0.5rem;
}

.btn-add-to-cart {
  appearance: none;
  background-color: var(--color-white);
  color: var(--color-rose-900);
  border: 0.0625rem solid var(--color-rose-400);
  border-radius: 62.4375rem;
  position: absolute;
  left: 50%;
  bottom: 0.25rem;
  transform: translate(-50%, 50%);
  padding: var(--spacing-150) 1.75rem;
  display: flex;
  gap: var(--spacing-100);
  cursor: pointer;
  min-width: 10.25rem;
}

.btn-add-to-cart > img {
  inline-size: 1.25rem;
  block-size: 1.25rem;
}

.btn-item-qty {
  appearance: none;
  background-color: var(--color-red);
  color: var(--color-white);
  border: 0.0625rem solid var(--color-red);
  border-radius: 62.4375rem;
  left: 50%;
  bottom: 0.25rem;
  transform: translate(-50%, 50%);
  padding: var(--spacing-150);
  min-width: 10.25rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.btn-item-qty > img {
  cursor: pointer;
  inline-size: 1.25rem;
  block-size: 1.25rem;
}

.dessert__category {
  color: var(--color-rose-500);
}

.dessert__name {
  color: var(--color-rose-900);
  margin-block: var(--spacing-50);
}

.dessert_price {
  color: var(--color-red);
}

/* Utility */
.hidden {
  display: none;
}

/* Tablet */
@media (min-width: 48em) {
  body {
    padding-block-start: var(--spacing-400);
  }

  main,
  header {
    max-inline-size: 55rem;
    padding-inline: var(--spacing-500);
  }

  main {
    padding-block-end: var(--spacing-500);
  }

  .desserts-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--spacing-300);
    row-gap: var(--spacing-400);
  }

  .confirm-modal {
    padding: var(--spacing-500);
    border-radius: 0.75rem;
    bottom: unset;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Desktop */
@media (min-width: 80em) {
  main,
  header {
    max-inline-size: 76rem;
  }

  header {
    padding-inline: unset;
    position: relative;
  }

  main {
    padding-inline: 0 26rem;
    padding-block-end: var(--spacing-1100);
  }

  body {
    padding-block-start: 5rem;
  }

  .cart {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    inline-size: 24rem;
    max-height: unset;
    overflow-y: unset;
  }

  .btn-cart {
    display: none;
  }
}
